@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    height: 200vh;
}

.menu-lateral{
    width: 80px;
    height: 100%;
    background-color: #6959CD;
    padding: 40px 0 40px 1%;
    overflow: hidden;
    overflow-y: scroll;

    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
}

.menu-lateral.expandir{
    width: 300px;
}

.menu-lateral::-webkit-scrollbar{
    width: 10px;
    background-color: #887bd9;
    border-radius: 10px;
}

.menu-lateral::-webkit-scrollbar-thumb{
    background-color: #483D8B;
    border-radius: 10px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: #C0C0C0;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .2s;
    white-space: nowrap;
}

ul li.ativo{
    background-color: #836FFF;
}

ul li.item-menu:hover{
    background-color: #836FFF;
}

ul li.item-menu a{
    color: #C0C0C0;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 30px;
}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
}

.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 5px;
}