@media (max-width: 425px) {

    body {
        /* overflow: hidden; */
        max-width: 425px;
    }

    main {

        background-image: url(/src/images/mobile-tpv.png);

        /* width: 100%;
        height: 100vh; */

    }

}